:root {
--aima-primary: #0d6efd; /* Bootstrap primary */
}


body {
min-height: 100vh;
display: flex;
flex-direction: column;
}


.hero {
background: linear-gradient(180deg, rgba(0,0,0,.45), rgba(0,0,0,.45)),
url('https://images.unsplash.com/photo-1507143550189-fed454f93097?q=80&w=1600&auto=format&fit=crop') center/cover no-repeat;
color: #fff;
}


.card-pet img { object-fit: cover; height: 180px; }


/* Espaços utilitários */
.section { padding: 3.5rem 0; }