{% extends "base.html" %}
{% block content %}
<h1 class="h4 mb-3">Criar conta</h1>
<form method="post" class="row g-2">
  <div class="col-md-6"><input required class="form-control" name="full_name" placeholder="Nome completo"></div>
  <div class="col-md-6"><input required type="email" class="form-control" name="email" placeholder="E-mail"></div>
  <div class="col-md-6"><input required type="password" class="form-control" name="password" placeholder="Senha"></div>
  <div class="col-12"><button class="btn btn-primary">Registrar</button></div>
</form>
{% endblock %}
